/* 全体 */
body.anime .fixed *,
body.anime .modal *,
body.anime .fixed,
body.anime .modal,
body.anime {
  transition: background-color .4s ease-in-out;
}
body.anime .btn {
  transition: background-color 0.2s, color 0.2s;
}
.fade {
  transition: opacity 0.15s linear;
}
html,
body {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--bgcolor);
  font-family: "Helvetica Neue", Helvetica, Arial, 
    "游ゴシック体", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo,"Noto Sans JP",
    sans-serif;
}
/* 選択不可(inputのぞく) */
* {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}
input {
  -moz-user-select: auto;
  -webkit-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
  -webkit-touch-callout: inherit;
  background-color: var(--bgcolor);
}
/* スクロールバー(webkitのみ) */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.021);
}
::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
}
/* 右上 */
.info {
  position: relative;
  top: 10px;
  width: auto;
  height: auto;
  text-align: right;
  z-index: 99;
  padding: 5px;
}
.about {
  display: inline-block;
  cursor: pointer;
  color: var(--textcolor);
}
.detail {
  z-index: -1;
  max-width: 100%;
  position: absolute;
  display: block;
  right: 40px;
  top: 0;
  width: auto;
  height: auto;
  text-align: left;
  font-size: small;
  background-color: var(--bgcolor);
  color: var(--textcolor);
  box-shadow: rgba(149, 157, 165, 0.103) 0px 8px 24px;
  padding: 10px;
  opacity: 0;
  transform: translateX(10px);
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out,
    z-index 0.25s ease-in-out;
}
.about:hover + .detail {
  z-index: 100;
  display: block;
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out,
    z-index 0.25s ease-in-out;
}
/* iPhone対策 */
input[type="number"] {
  font-size: 16px;
  transform: scale(0.8);
}
/* カラムを覆う要素 */
.fixed {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  opacity: 0;
  pointer-events: none;
}
.fixed.loaded {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
}
.flex {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--bgcolor);
  color: var(--textcolor);
}
/* body */
.body {
  flex: 1;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.body .container,
.body .row {
  width: 100%;
  height: 100%;
}
.body .row {
  display: flex;
  align-items: center;
  margin-left: 0 !important;
}
.body .container {
  min-height: 180px;
}
/* 数字の周り */
.number-wrap,
.history-wrap {
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* 枠線 */
.number {
  border-radius: 50%;
  border-style: solid;
  border-width: 40px;
  border-color: #ffa500;
  color: var(--graytext);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-family: "Kosugi Maru", "ヒラギノ丸ゴ Pro W4", "ヒラギノ丸ゴ Pro",
    "Hiragino Maru Gothic Pro", "ヒラギノ角ゴ Pro W3",
    "Hiragino Kaku Gothic Pro", "HG丸ｺﾞｼｯｸM-PRO", "HGMaruGothicMPRO", sans-serif;
}
/* カードを覆う */
.history {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
/* カード */
.history .card {
  width: 100%;
  height: 100%;
  color: var(--graytext);
}
.history-inner .card-body {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  color: var(--textcolor);
  background-color: var(--bgcolor);
}
.history-inner {
  width: 80%;
  height: 80%;
}
/* カード内の数字 */
.history-number {
  width: 15%;
  margin: 0 2.5%;
  display: inline-block;
  text-align: center;
  color: var(--graytext);
}
/* フッター */
.footer {
  box-shadow: rgba(17, 17, 26, 0.05) 0px -4px 16px,
    rgba(17, 17, 26, 0.05) 0px -8px 32px;
  border-radius: 15vh 15vh 0 0;
  padding: 15px;
}
/* ボタン4つ */
.footer .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.button {
  text-align: center;
}
.buttons button {
  margin: 2px;
}
/* レンジ+テキストボックス */
.bingoMaxInput {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* レンジとトラベル*/
.bingoMax {
  display: inline-block;
  width: 100%;
  height: auto;
  color: var(--textcolor);
}
/* レンジ */
.bingoMaxRange {
  flex: 1;
  padding: 10px;
}
.bingoMax label {
  color: var(--textcolor);
}
/* テキストボックス */
.bingoMaxText {
  text-align: right;
}
#bingoMaxText {
  width: 60px;
  text-align: right;
}
/* やり直す・元に戻すボタン */
#undo,
#startOver {
  display: inline-block;
  border-radius: 100vh;
  margin: 5px;
  visibility: hidden;
}
#startOver {
  position: absolute;
  left: 0;
}
.undoButton {
  position: relative;
  width: auto;
  height: auto;
}
/* シェアボタン */
.share {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0;
  padding: 0;
  overflow-x: auto;
}
.share .btn-group {
  min-width: 60%;
}
i {
  margin-right: 0.5em;
  display: inline;
}
.nomargin {
  margin: 0em !important;
}
/* シェアモーダル */
.sh-content:not(:last-child) {
  margin-bottom: 40px;
}
.sh-content button {
  outline: none;
}
#checked-icon {
  display: none;
}
.inline {
  display: inline;
}
.inline:not(:last-child) {
  margin-bottom: 5px;
}
/* プライバシーポリシー(埋め込み) */
.iframe-content {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.iframe-content iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
}
/* loader */
.loader-wrap {
  display: block;
  position: absolute;
  width: 50%;
  height: 50%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 99999999999999999999;
}
.loader-wrap.loaded {
  opacity: 0;
  z-index: -1;
  transition: opacity 0.5s, z-index 0.5s;
}
.loader {
  color: var(--graytext);
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* タブレット・スマホの設定 */
@media screen and (max-width: 992px) {
  .number-wrap,
  .history-wrap {
    height: 45%;
  }
}
/* スマホのみに適用 */
@media screen and (max-width: 576px) {
  .bingoMaxInput {
    display: inline;
  }
  .bingoMaxRange {
    width: 100%;
  }
  #bingoMaxText {
    display: inline;
  }
  .bingoMax {
    margin-top: 10px;
    font-size: small;
  }
  .footer {
    border-radius: 20px 20px 0 0;
  }
}
/* dark mode */
body.dark {
  --bgcolor: rgb(32, 32, 32);
  --textcolor: rgb(233, 232, 232);
  --graytext: rgba(255, 255, 255, 0.884);
}
body.dark .card-header {
  background-color: rgba(0, 0, 0, 0.85);
  border-bottom: 1px solid rgba(0, 0, 0, 0.675);
}
body.dark .card {
  border-color: rgba(39, 39, 39, 0.775);
}
body.dark .footer {
  background-color: rgb(43, 43, 43);
}
body.dark .modal-header,
.modal-footer,
.modal-body,
.modal-body,
.list-group button {
  background-color: var(--bgcolor);
  color: var(--textcolor);
}
body.dark .list-group-item-action:not(.active):hover {
  background-color: #454546;
  color: var(--textcolor);
}
body.dark .list-group-item-action:not(.active):active {
  background-color: #454546;
  color: var(--textcolor);
}
body.dark .list-group-item-action:not(.active):focus {
  background-color: #454546;
  color: var(--textcolor);
}
body.dark .modal-header {
  border-bottom: 1px solid #454546;
}
body.dark .modal-footer {
  border-top: 1px solid #454546;
}
body.dark .modal-fullscreen .modal-body * {
  background-color: #fff;
}
body.dark .btn-close,
body.dark input {
  filter: invert(1) hue-rotate(180deg);
}
body.dark .modal-content {
  border-top-color: #333;
  border-left-color: #333;
  border-right-color: #333;
  border-bottom-color: #333;
}
