html,
body {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.flex {
  display: flex;
  flex-flow: column;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}
.body {
  flex: 1;
  overflow: auto;
}
.body .container,
.body .row {
  width: 100%;
  height: 100%;
}
.body .row {
  display: flex;
  align-items: center;
}
.number-wrap,
.history-wrap {
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.number {
  border-radius: 50%;
  border: 20px solid;
  border-color: #ffa500;
  color: rgb(54, 54, 54);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-family: "Kosugi Maru", sans-serif;
}
.footer {
  box-shadow: 0px -5px 5px rgba(119, 119, 119, 0.055);
  padding: 15px;
}
.history {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.footer .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons button {
  margin: 2px;
}
.bingoMax {
  width: 100%;
  display: inline;
}
.bingoMaxText {
  text-align: right;
}
#bingoMaxText {
  width: 25%;
  display: inline;
  text-align: right;
}
.history.card {
  width: 100%;
  height: 100%;
  color: rgb(42, 42, 42);
}
.history-inner {
  width: 80%;
  height: 80%;
}
.history-inner .card-body {
  overflow: auto;
}

.history-number {
  width: 15%;
  margin: 0 2.5%;
  font-size: 25px;
  display: inline-block;
  text-align: center;
}
* {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media screen and (max-width: 992px) {
  .number-wrap,
  .history-wrap {
    height: 50%;
  }
}
