.flex {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
}

.body {
  flex: 1;
}

.footer {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.range {
  flex: 1;
}

.vflex {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

.rangeValue {
  font-size: 14px;
  text-indent: .9rem;
}
